__pycache__/
*.pyc
.venv/

# Ignore the data directory
data/

# Ignore system/python junk
__pycache__/
.DS_Store

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
